<div class="centered-content">

    <div class="modal-box">

        <h1 class="title has-text-primary">
            My Saved Cities
        </h1>

        <div class="cities">
            <p>{{error.error}}</p>
            <p>{{savedCities[0]}}</p>
            <p>{{savedCities[1]}}</p>
            <p>{{savedCities[2]}}</p>
            <p>{{savedCities[3]}}</p>
            <p>{{savedCities[4]}}</p>
        </div>
     

        <div class="info">

            <div class="field has-addons">
                <div class="control">
                    <input #deleteCityInput class="input has-background-light" type="text" placeholder="Delete a city...">
                </div>
            </div>

            <button class="button is-primary" (click)="deleteCity(deleteCityInput.value)">
                Delete
            </button>

        </div>

        <button class="button" routerLink="/">
            Return Home
        </button>

    </div>

</div>