<div class="centered-content">

    <div class="modal-box">

        <h1 class="title has-text-primary">
            My Saved Cities
        </h1>

        <div class="cities">
            <p>City 1</p>
            <p>City 2</p>
            <p>City 3</p>
            <p>City 4</p>
            <p>City 5</p>
        </div>
     

        <div class="info">

            <div class="field has-addons">
                <div class="control">
                    <input #usernameInput class="input has-background-light" type="text" placeholder="Delete a city...">
                </div>
            </div>

            <button class="button is-primary" (click)="createNewUser(usernameInput.value)">
                Delete
            </button>

        </div>

        <button class="button" routerLink="/">
            Return Home
        </button>

    </div>

</div>