<div class="centered-content">
    <div class="main-page-container">

        <h1 class="title has-text-primary">
            CitySearch
        </h1>

        <div class="buttons">
            <div class="control ">
              <button class="button is-success" routerLink="/login">
                Login
              </button>
            </div>
            <div class="control ">
                <button class="button is-success">
                  Logout
                </button>
              </div>
        </div>
        
        
        <div class="field has-addons">
            <div class="control">
              <input #cityNameInput class="input has-background-light" type="text" placeholder="Search City">
            </div>
            <div class="control">
              <button class="button is-primary" (click)="searchCityInfo(cityNameInput.value)">
                Search
              </button>
            </div>
        </div>

        <div class="city has-background-light">
            <p>{{cityInfo[0].conversion}}</p> 
            <p>{{cityInfo[0].country}}</p> 
            <p>{{cityInfo[0].humidity}}</p> 
            <p>{{cityInfo[0].temperature}}</p> 
            <p>{{cityInfo[0].time}}</p> 
            <p>{{cityInfo[0].wind}}</p> 
        </div>

        <div class="field save">
            <button class="button is-primary">
                Save City
            </button>
        </div>

        <div class="field saved">
            <button class="button is-primary">
                View Saved Cities
            </button>
        </div>
          
    </div>
</div>